.line{
  display: table;
  width: 200px;
  text-align: center;
  height: 30px;
}
.cell{
  display: table-cell;
  width: 65px;
  vertical-align: middle;
  border: solid 1px grey;
}
#inputVal{
  width: 200px;
  background-color: #fff;
}
